<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0
                              http://maven.apache.org/xsd/settings-1.1.0.xsd">

  <!-- ================= SERVERS ================= -->
  <servers>

    <!-- Snapshot Repository -->
    <server>
      <id>snap-repo</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASS}</password>
    </server>

    <!-- Release Repository -->
    <server>
      <id>release-repo</id>
      <username>${env.NEXUS_USER}</username>
      <password>${env.NEXUS_PASS}</password>
    </server>

  </servers>


  <!-- ================= MIRRORS ================= -->
  <mirrors>

    <mirror>
      <id>nexus-mirror</id>
      <name>Nexus Group Mirror</name>

      <!-- IMPORTANT: Always point to GROUP repo -->
      <url>http://${env.NEXUS_IP}:${env.NEXUS_PORT}/repository/${env.NEXUS_GRP_REPO}/</url>

      <!-- Mirror everything -->
      <mirrorOf>*</mirrorOf>
    </mirror>

  </mirrors>


  <!-- ================= PROFILES ================= -->
  <profiles>

    <profile>
      <id>nexus-profile</id>

      <repositories>
        <repository>
          <id>central</id>
          <url>http://${env.NEXUS_IP}:${env.NEXUS_PORT}/repository/${env.NEXUS_GRP_REPO}/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://${env.NEXUS_IP}:${env.NEXUS_PORT}/repository/${env.NEXUS_GRP_REPO}/</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>

    </profile>

  </profiles>


  <!-- ================= ACTIVE PROFILE ================= -->
  <activeProfiles>
    <activeProfile>nexus-profile</activeProfile>
  </activeProfiles>

</settings>
